* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

body {
    background: rgb(247, 247, 247);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    margin: 2em;
    color: rgb(15, 199, 190);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}


nav .logo img {
    max-width: 150px;
    max-height: 150px;
}

.square-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.square {
    background: rgb(199, 199, 199);
    height: 300px;
    width: 300px;
    margin: 6px;
}

.square:nth-of-type(odd) {
    background: rgb(106, 73, 128);
}

.square-container-new {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#gamecube {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.game {
    max-height: 400px;
    max-width: 400px;
}



@media (max-width: 756px) {
    .square {
        height: 200px;
        width: 200px; 
    }
}



@media (max-width: 554px) {
    .square {
        height: 170px;
        width: 170px;
        flex-direction: column-reverse;
    }
}
